<div class = "container">

<h1>Login</h1>

<form action="/sessions" method="post">
  <div class = "mb-3">

    <label class = "form-label" for="email_input">Email</label>
    <input class = "form-control" type="text" name="email" id="email_input">

    <label class = "form-label" for="password_input">Password</label>
    <input class = "form-control" type="password" name="password" id="password_input">
  </div>


  <button class="btn btn-primary">Login<button>
</form>

</div>

